# History files
.Rhistory

# Example code in package build process
*-Ex.R

# R data files from past sessions
.Rdata

# RStudio files
.Rproj.user/

# Dataset folder (will be donwloaded by the analysis)
dataset/

# knitr outputs
PeerAssignment2_cache/
PeerAssignment2_files/
PeerAssignment2.html
PeerAssignment2.md
